body
{
   margin: 0px;
   padding: 0px;
   height: 100%;
   background-color: rgb(232, 221, 221)
}
.vh-100 {
    height: 100vh;
  }

#forgottenPasswordForm,
#registerForm {
display: none;
}

/* responsive css */
@media screen and (max-width:600px) {
    .loginform
{
    width: 90%;
    margin: 35% auto;
}
}

.advanced-search {
    width: 100%;
}

.find-jobs-form{
    background-color: #e7e7e7;
}
.form-group {
    margin:0px;
}
.form-control {
    background-color: white;
}
