<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/adminTuyenDung.css')}}">
</head>

<body>
    <section class="admin-content">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Thêm bài tuyển dụng</h1>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation" action="/TDs/AddTD/" method="post" id="AddTD" autocomplete="off" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="NoiTD">Nơi tuyển dụng</label>
                                <input type="text" class="form-control" placeholder="Nơi tuyển dụng" id="NoiTD"
                                    name="NoiTD">
                            </div>
                            <div class="form-group">
                                <label for="NgayTD">Ngày tuyển dụng</label>
                                <input type="datetime-local" class="form-control" id="NgayTD" name="NgayTD" required>
                            </div>
                            <div class="form-group">
                                <label for="SoLuongTD">Số lượng tuyển dụng</label>
                                <input type="text" class="form-control" id="SoLuongTD" Name="SoLuongTD"
                                    placeholder="Số lượng tuyển">
                            </div>
                            <div class="form-group">
                                <label for="LinhVucTD">Lĩnh vực tuyển dụng</label>
                                <input type="text" class="form-control" id="LinhVucTD" name="LinhVucTD"
                                    placeholder="Lĩnh vực tuyển" required>
                            </div>
                            <div class="form-group">
                                <label for="ViTriTD">Vị trí tuyển dụng</label>
                                <textarea class="form-control" rows="5" id="ViTriTD" name="ViTriTD"
                                    placeholder="Vị trí tuyển dụng" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="LuongTD">Mức lương tuyển dụng</label>
                                <input type="text" class="form-control" id="LuongTD" name="LuongTD"
                                    placeholder="Mức lương">
                            </div>
                            <div class="form-group">
                                <label for="YeuCauCongViec">Yêu cầu công việc</label>
                                <textarea class="form-control" rows="5" id="YeuCauCongViec" name="YeuCauCongViec"
                                    placeholder="Yêu cầu công việc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="MoTaCongViec">Mô tả công việc</label>
                                <textarea class="form-control" rows="5" id="MoTaCongViec" name="MoTaCongViec"
                                    placeholder="Mô tả công việc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="QuyenLoi">Quyền lợi</label>
                                <textarea class="form-control" rows="5" id="QuyenLoi" name="QuyenLoi"
                                    placeholder="Quyền lợi"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="DiaDiem">Địa điểm</label>
                                <textarea class="form-control" rows="5" id="DiaDiem" name="DiaDiem"
                                    placeholder="Địa điểm" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="SDT">Số điện thoại</label>
                                <input type="phone" class="form-control" name="SDT" id="SDT" placeholder="Số điện thoại"
                                    >
                            </div>
                            <div class="form-group">
                                <label for="Gmail">Gmail</label>
                                <input type="email" class="form-control" name="Gmail" id="Gmail" placeholder="Gmail"
                                    >
                            </div>
                            <div class="form-group">
                                <label for="IDPost">IDpost(Bắt buộc lấy từ hệ thống crawl dữ liệu)</label>
                                <input type="text" class="form-control" name="IDPost" id="IDPost" placeholder="IDPost"
                                    required>
                            </div>
                            <div class="post-thumb" style="width: 50%">
                                <img class="img-fluid" id="AnhMacDinh" alt="Ảnh tuyển dụng" src="{{ url_for('static', path='/images/TDImages/default.png') }}" style="width:100%; height:100%" 
                                onerror='this.src = "{{ url_for('static', path='/images/TDImages/default.png') }}"'/>
                             </div>
                            <div class="form-group">
                                <label for="AnhPost">Đăng ảnh(Tên ảnh phải trùng với IDPost)</label>
                                <input type="file" id="AnhPost" name="image">
                            </div>
                            <div class="form-group d-flex justify-content-around align-items-center">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                                <button type="button" class="btn btn-primary" onclick="reset()">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function reset() {
            const NoiTD = document.getElementById('NoiTD');
            const NgayTD = document.getElementById('NgayTD');
            const SoLuongTD = document.getElementById('SoLuongTD');
            const LinhVucTD = document.getElementById('LinhVucTD');
            const ViTriTD = document.getElementById('ViTriTD');
            const LuongTD = document.getElementById('LuongTD');
            const YeuCauCongViec = document.getElementById('YeuCauCongViec');
            const MoTaCongViec = document.getElementById('MoTaCongViec');
            const QuyenLoi = document.getElementById('QuyenLoi');
            const DiaDiem = document.getElementById('DiaDiem');
            const SDT = document.getElementById('SDT');
            const Gmail = document.getElementById('Gmail');
            const IDPost = document.getElementById('IDPost');
            NoiTD.value = '';
            NgayTD.value = '';
            SoLuongTD.value = '';
            LinhVucTD.value = '';
            ViTriTD.value = '';
            LuongTD.value = '';
            MoTaCongViec.value = '';
            YeuCauCongViec.value = '';
            QuyenLoi.value = '';
            DiaDiem.value = '';
            SDT.value = '';
            Gmail.value = '';
            IDPost.value = '';
        }
        const AddTDForm = document.getElementById('AddTD');
        var CurrentUrl = window.location.href
        var part = CurrentUrl.split('/')
        var url = part.slice(0, 4).join('/')
        var isImage = true
        document.getElementById('AnhPost').addEventListener('change', function(e) {
            // Lấy file đầu tiên từ danh sách các file người dùng đã chọn
            var file = e.target.files[0];
            const imageDiv = document.getElementById("AnhMacDinh")
            if(!file.type.startsWith('image/')){
                isImage = false
                imageDiv.src = "{{ url_for('static', path='/images/TDImages/default.png') }}"
            }
            else{
                isImage = true
                imageDiv.src = URL.createObjectURL(file);
            }
          });
        AddTDForm.onsubmit = function(e) {
            e.preventDefault();
            if(!isImage){
                alert("vui lòng chọn file ảnh")
                return
            }
            const formData = new FormData(AddTDForm);
            fetch('/TDs/AddTD/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data == true) {
                        alert('Thêm tuyển dụng thành công');
                        window.location.href = url + '/admin-Edit-TD';
                    } else {
                        alert(data.message);
                    }
                })
                .catch(err => alert("Lỗi hệ thống: " + err))
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>