<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/danhsach.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="table">
        <div class="table_header">
            <h3>DANH SÁCH TÀI KHOẢN</h3>
            <div>
                <input placeholder="Tài khoản">
                <button class="add_new"><i class="fa-solid fa-plus"></i> Add New</button>

            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tên tài khoản</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ds in dstk%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ds.Gmail}}</td>
                        <td>
                            <button type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button type="button" onclick="del('{{ds.Gmail}}')"><i class="fa-solid fa-trash"
                                    value='{{ds.Gmail}}'></i></button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function del(Gmail) {
            formdata = new FormData();
            formdata.append('Gmail', Gmail);
            fetch("/Users/DeleteUser/", {
                "method": "DELETE",
                "body": formdata
            })
                .then(respone => {
                    if (respone.status == 200)
                        window.location.reload()
                })
                .catch(err => console.log(err))
        }
    </script>
</body>

</html>